body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@import "action-bar.css";
@import "creator-chip.css";
@import "header.css";
@import "logo.css";
@import "main-content.css";
@import "popup-window.css";
@import "project-card.css";
@import "sign-(in-out)-button.css";
@import "undo-redo-buttons.css";
@import "preloader.css";
@import "project.css";
@import "column.css";
@import "task.css";
@import "links.css";