.column-container {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
}

.column {
    margin: 0 5px;
    min-width: 320px;
    min-height: auto;
}

.column-wrapper {
    display: flex;
    z-index: 1;
}

.column-title {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    cursor: move;
}

.column-name {
    align-self: center;
    font-size: 20px;
    color: white;
    cursor: text;
}

.column-edit {
    color: white;
}

.column-edit:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.add-column-wrapper {
    display: flex;
    height: calc(100vh - 104px);
}

.add-column {
    margin: 0 5px;
    min-width: 320px;
    background-color: #EEEEEF;
    min-height: 48px;
    align-self: start;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-column:hover {
    background-color: #D6D6D7;
}

.add-column-button {
    color: rgb(0,129,108);
}

.add-column-button:hover {
    background-color: rgba(0, 129, 108, 0.2);
}

.tasks {
    height: calc(100vh - 152px);
    overflow: auto;
}

