.logo-wrapper {
    flex: 1 1 100px;
    background: teal;
}

.logo-wrapper > h2 {
    position: relative;
    display: block;
    font-family: Roboto;
    margin: 5% 10% 0;
    color: #fff;
}

.logo-wrapper > img {
    position: relative;
    left: 10%;
    width: 80%;
    margin-bottom: 5%;
}

