.main-content {
    display: flex;
    flex: 3 3 300px;
}

.info {
    flex: 1 1 100px;
    background: rgba(0, 128, 128, .6);
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.description {
    flex: 4 4 400px;
}