.popup-window {
    position: absolute;
    width: 50vw;
    top: 1%;
    left: 20%;
    direction: ltr;
    min-width: 560px;
    background-color: #EEEEEF;
}

.popup-window > .mdl-card__title > h1 {
    font-size: 2em;
    font-weight: 400;
}

.popup-window > .mdl-card__supporting-text {
    font-size: 1.2em;
}

.popup-window > .mdl-card__supporting-text > .mdl-textfield {
    padding: 7px 0;
    color: black;
    width: 450px;
}

.popup-window > .mdl-card__supporting-text > .mdl-textfield > input:focus {
    outline-color: #FF004B;
}

.popup-window > #save-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.popup-window > .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #FF004B;
}

.addition-button {
    margin: 16px;
    align-self: flex-start;
}

.popup-window > .color-container {
    display: flex;
    padding: 0 16px 10px;
    width: 208px;
    flex-wrap: wrap;
}

.popup-window > .color-container > div {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    margin-bottom: 5px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.popup-window > .color-container > .active {
    border: 2px solid black;
}

.incorrect {
    position: absolute;
    color: #FF004B;
    right: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

.incorrect_hidden {
    visibility: hidden;
}

.incorrect_visible {
    visibility: visible;
}

@media screen and (max-width: 1000px) {
    .popup-window {
        position: fixed;
        top: 25%;
        width: 80%;
        left: 10%;
    }
    .popup-window > .mdl-card__title > h1 {
        font-size: 56px;
        font-weight: 400;
    }
    .popup-window > .mdl-card__supporting-text {
        font-size: 36px;
    }
    .popup-window > .mdl-card__supporting-text > .mdl-textfield {
        padding: 25px 0;
    }
    .popup-window > .mdl-card__supporting-text > .mdl-textfield > .mdl-textfield__input {
        font-size: 32px;
    }
    .popup-window > .color-container {
        display: flex;
        width: 332px;
    }
    .popup-window > .color-container > div {
        cursor: pointer;
        width: 65px;
        height: 65px;
        margin-right: 18px;
        margin-bottom: 10px;
    }
    .popup-window > #save-button {
        font-size: 22px;
        height: 40px;
    }
}