.undo-redo-container {
    margin-bottom: 20%;
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.undo-redo-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-name {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

@media screen and (max-width: 1000px) {
    .undo-redo-container {
        width: 20%;
        margin: 1.5% 5.2% 1.5%;
    }
    .button-name {
        display: none;
    }
}