.undo-redo-container {
    margin-bottom: 20%;
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.undo-redo-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-name {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}